
body{
    text-align: center;
}

div{
    display: block;
}

.top-container{
    position: relative;
    background-color: #e5e0b1;
    padding-top: 100px;
}

.title{
    width: 100%;
    
}

h1{
    color: black;
    font-size: 6rem;
    font-family: "Grand Hotel", cursive;
    font-weight: 400;
    font-style: normal;
}

h2{
    font-size: 1.60rem;
}


.blackcat{
    margin-top: 15px;
    width: 30%;
    margin-right: 50%;
    overflow-clip-margin: content-box;
    overflow: clip;
}

.pfp{
    border-radius: 100%;
}

.profile-h2{
    margin-bottom: 15px;
}

.divider{
    width: 400px;
}

.skillsection{
    display: inline-block;
    width: 70%;
    height: 100%;
    margin-top: 20px;

}

.carddesc{
    margin: 0%;
    margin-top: 5px;
    text-align: justify;
    font-weight: 350;
    color:#1A1A1D;
    overflow: hidden;

}

.skillpic{
    float: left;
    width: 250px;
    margin-right: 20px;
    border-radius: 10px;
}

.skill{
    display: inline-block;   
    width: 100%;
    padding:20px
 }

.skill-h3{
    text-align: start;
    font-size: 20px;
}

.projectsection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.break {
    flex-basis: 100%;
    height: 0;
  }
  

.project{
    width: 450px;
    padding:20px
 }

 .project-h3{
    text-align: center;
    font-size: 20px;
}

.projectpic{
    width: 390px;
    border-radius: 10px;
    margin-bottom: 10px;
    
}





/* smaller size ----------------------------------------------------------------------*/
@media (max-width:600px) {

    .top-container{
        position: relative;
        background-color: #e5e0b1;
        padding-top: 60px;
    }

    h1{
        font-size: 4.5rem;
    }

    .divider{
        width: 300px;
    }

    .project{
        width: 85%;
        padding:20px
     }

    .skillsection{
        display: inline-block;
        width: 85%;
        height: 100%;
        margin-top: 20px;
    
    }

    .picresize{
        max-width: 100%;
        width: 600px;
        object-fit: cover;
        margin-bottom: 15px;

    }



}